.Login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
}

.Login-bg-container {
  width: 65vw;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.Login-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.LoginContainer1 {
  height: 35vh;
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 40px;
}

.LoginHeader {
  font-size: 54px;
  margin: 0;
  letter-spacing: 10px;
}

.LoginSubheader {
  letter-spacing: 2px;
  font-size: 18px;
  color: gray;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.LoginContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
  gap: 1.5rem;
  font-weight: 400;
}

.ForgotPass {
  margin-top: -1rem;
  align-self: flex-end;
  font-size: 15px;
  color: gray;
}

.ForgotPass:hover {
  font-weight: 300;
  cursor: pointer;
}

.LoginButton {
  width: 130px;
  height: 50px;
  color: azure;
  background-color: #175fff;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: 200;
  margin-top: 3rem;
  transition: all 0.3s ease-in-out;
}

.LoginButton:hover {
  box-shadow: 2px 2px 2px grey;
  font-weight: 300;
}

.input-field {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.input-field:hover {
  box-shadow: 2px 2px 2px grey;
}

.input-field2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.input-field2:hover {
  box-shadow: 2px 2px 2px grey;
}

.input-field3 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.input-field3:hover {
  box-shadow: 2px 2px 2px grey;
}

.BottomText {
  color: gray;
  margin-top: 7rem;
}

.login-link:hover {
  color: black;
  text-decoration: underline;
}
