.sidebar {
  width: 18vw;
  height: 100vh;
  /* border: 1px solid black; */
  border-right: 1px solid lightgrey;
  /* background-color: purple; */
}

.sidebar-listitem {
  height: 3.5rem;
  /* border: 1px solid black; */
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: 0.5rem 0;
}

.sidebar-link {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}
