.onboarding-container-outer-box {
  height: 85vh;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  margin-left: 2rem;
  padding: 2rem;
  position: relative;
}

.onboarding-container-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.17rem;
  font-size: 29px;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: -1rem;
}

.onboarding-container-button {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
