body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-cover {
  /* box-sizing: border-box; */
  max-width: 100vw;
  /* position: relative; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.side-bar {
  /* box-sizing: border-box; */
  width: 18vw;
  /* position: absolute; */
}

.App {
  margin: 0;
  /* box-sizing: border-box; */
  padding: 0;
  width: 82vw;
}
